//VARIABLES FOR THE WINDOW WIDTHS
$tablet-width: 768px;
$desktop-width: 1280px;

//VARIABLES FOR COLOR
$text-color-1: #202020;
$text-color-2: #7a7e81;
$text-color-3: #dddddd;
$free-trial-text-color: #b4b4cb;
$free-trial-button-color: #60606d;
$statistic-color: #e0f4de;
$nav-bar-background-color: #131313;
$background-color-1: #c9cacb;
$background-color-2: #f9f9f9;
$chart-connections-color: #c9eac4;
$chart-follows-color: #1f1f1f;
$chart-invite-color: #c4c6f2;
