//VARIABLES FOR THE WINDOW WIDTHS
$tablet-width: 768px;
$desktop-width: 1280px;

//VARIABLES FOR COLOR
$text-color-1: #131313;
$text-color-2: #94979a;
$text-color-3: #f8f8f8;
$text-color-selected: #d4d4fc;
$free-trial-text-color: #d4d4fc;
$statistic-color: #ddf6de;
$nav-bar-background-color: #131313;
$background-color-1: #f8f8f8;
$background-color-2: #ffffff;
$chart-connections-color: #c2ecc1;
$chart-follows-color: #1f1f1f;
$chart-invite-color: #c5c7f6;
$button-background-color: #d4d4fc1f;
$button-border-color: #d4d4fc;
