@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.navigation_component {
  background-color: $nav-bar-background-color;
  height: 100vh;
  width: 200px;
  position: fixed;
  left: 0;
  top: 0;
}
