@use "../../styles/variables" as *;

.dateSelectionComponent {
  display: flex;
  background-color: $background-color-1;
  align-items: center;
  width: 187px;
  justify-content: center;
  border-radius: 8px;
  height: 32px;

  &Calendar {
    width: 130px;
    padding: 0;
    font-size: 15px;
    font-family: var(--font-sulphur-point);
  }
}
