@use "../../styles/variables" as *;

.campaignAnalyticsComponent {
  flex-grow: 1;

  &BellIconWrapper {
    width: 45px;
    height: 45px;
    background-color: $background-color-1;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
