.campaignAnalyticsComponent {
  margin: 4rem 1rem 0;

  &SmallFlexContainer {
    display: flex;
    justify-content: space-between;
  }

  &Heading {
    margin: 0;
  }

  &BigFlexContainer {
    display: flex;
    align-items: center;
    gap: 7rem;
  }
}
