@use "../../styles/variables" as *;

.dashboardInforItem {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid $border-bottom-color;
  padding-bottom: 1rem;

  &Name {
    margin: 0;
    color: $text-color-2;
  }

  &Wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &SmallWrapper {
    display: flex;
    background-color: $statistic-color;
    padding: 6px 10px;
    border-radius: 8px;
    gap: 12px;
    align-items: center;
  }

  &Number {
    font-family: var(--font-rubik);
    margin: 0;
    font-size: 1.75rem;
  }

  &Percent {
    margin: 0;
  }
}
