@use "../../styles/variables" as *;
@use "../../styles/mixins" as *;

.navigationComponent {
  background-color: $nav-bar-background-color;
  height: 100vh;
  width: 200px;
  position: fixed;
  left: 0;
  top: 0;
  color: $text-color-3;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;

  &LogoWrapper {
    display: flex;
    gap: 0.5rem;
    align-items: center;
  }

  &LogoText {
    margin: 0;
    font-weight: 400;
    font-size: 1.5rem;
  }
}
